@import './tailwind.css';

:root {
  --margin-top: 105px;
}

html {
  position: relative;
  height: calc(100vh - var(--margin-top));
  margin-top: var(--margin-top);
}

body {
  width: 100%;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.image.lazyload,
.image.lazyloaded {
  position: absolute;
  width: 100%;
}

img.lazyload:not([src]) {
  visibility: hidden;
}
